@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer utilities {
    .custom-button {
      background-color: #1a202c;
      color: white;
      padding: 1rem;
      border-radius: 0.5rem;
      text-align: center;
    }
  } */